<a href="https://colab.research.google.com/github/TayBrig-Data/data101-final-project/blob/main/Data_Science_Project_Cleaning_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Code to clean the Calender data by remvoving null and low importance data to reduce size as well as removing the time colunm and the forecast and previous columns that showed what was expected change and what it was before hand

In [4]:
import pandas as pd

# Load the CSV file
file_path = '/content/Calender_data.csv'
df = pd.read_csv(file_path)

# Display original size
print(f"Original size: {df.shape}")

# Remove rows with any null values
df_cleaned = df.dropna()

# Remove the 'time', 'forecast', and 'previous' columns
df_cleaned = df_cleaned.drop(columns=['time', 'forecast', 'previous'])

# Remove rows with 'low' importance
df_cleaned = df_cleaned[df_cleaned['importance'] != 'low']

# Display new size
print(f"Reduced size: {df_cleaned.shape}")

# Save the cleaned data to a new file
output_path = '/content/Calender_data_cleaned.csv'
df_cleaned.to_csv(output_path, index=False)

print(f"Cleaned file saved to: {output_path}")
display(df_cleaned.head())

Original size: (663497, 10)
Reduced size: (16745, 7)
Cleaned file saved to: /content/Calender_data_cleaned.csv

,id,date,zone,currency,importance,event,actual
132,399118,02/01/2020,united states,USD,medium,Continuing Jobless Claims,"1,728K"
133,399117,02/01/2020,united states,USD,high,Initial Jobless Claims,222K
149,399269,03/01/2020,united kingdom,GBP,medium,Nationwide HPI (MoM) (Dec),0.1%
150,399272,03/01/2020,united kingdom,GBP,medium,Nationwide HPI (YoY) (Dec),1.4%
152,398410,03/01/2020,türkiye,TRY,medium,CPI (MoM) (Dec),0.74%

Clean the data by making all the dates match on all the data sets so they are compatable

In [6]:
import pandas as pd

# Load the NVidia stock history dataset
# Assuming the file is located at /content/NVidia_stock_history.csv
file_path_nvidia = '/content/NVidia_stock_history.csv'
df_nvidia = pd.read_csv(file_path_nvidia)

# Convert the 'Date' column to datetime objects with UTC to handle mixed timezones
df_nvidia['Date'] = pd.to_datetime(df_nvidia['Date'], utc=True)

# Format the 'Date' column to MM/DD/YYYY
df_nvidia['Date'] = df_nvidia['Date'].dt.strftime('%m/%d/%Y')

# Display the first few rows to verify the format
display(df_nvidia.head())

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,01/22/1999,0.040129,0.044786,0.035590,0.037621,2714688000,0.0,0.0
1,01/25/1999,0.040607,0.042039,0.037621,0.041562,510480000,0.0,0.0
2,01/26/1999,0.042039,0.042876,0.037740,0.038337,343200000,0.0,0.0
3,01/27/1999,0.038457,0.039412,0.036307,0.038218,244368000,0.0,0.0
4,01/28/1999,0.038218,0.038457,0.037859,0.038098,227520000,0.0,0.0

In [7]:
# Save the formatted NVidia data to a new CSV file
output_path_nvidia = '/content/NVidia_stock_history_formatted.csv'
df_nvidia.to_csv(output_path_nvidia, index=False)

print(f"Formatted NVidia file saved to: {output_path_nvidia}")

Formatted NVidia file saved to: /content/NVidia_stock_history_formatted.csv